<div class="container">
    <form name="form" #f="ngForm" novalidate>

        <div class="form-group">
            <label for="numberOfUsers">Number of users:</label>
            <input type="number" class="form-control" name="numberOfUsers" [(ngModel)]="form.numberOfUsers" required #numberOfUsers="ngModel"/>
            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && numberOfUsers.invalid">
                Number of users is required
            </div>
        </div>

        <div class="form-group">
            <label for="timeBetweenRequests">Time between requests:</label>
            <input type="number" class="form-control" name="timeBetweenRequests" [(ngModel)]="form.timeBetweenRequests" required #timeBetweenRequests="ngModel"/>
            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && timeBetweenRequests.invalid">
                Time between requests is required
            </div>
        </div>
        <div class="form-group">
            <label for="strategy">Strategy:</label><br>
            <mat-radio-group class = "tp-radio-group" [(ngModel)] = "form.strategy" name="strategy" #strategy="ngModel" style="margin-left: 15px;">
                <mat-radio-button class = "tp-radio-button"
                *ngFor = "let strategy of strategies" [value] = "strategy">
                {{strategy}}
                </mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="form-group">
            <label for="stockPlay">Chance for playing on stock:</label>
            <mat-slider style="width:50%;" name="stockPlay" min="0" max="100" step="1" [(ngModel)]="form.stockPlay" #stockPlay="ngModel"></mat-slider>
            {{form.stockPlay}}%
        </div>

        <div class="form-group">
            <label for="createCompany">Chance for creating a company:</label>
            <mat-slider style="width:50%;" name="createCompany" min="0" max="100" step="1" [(ngModel)]="form.createCompany" #createCompany="ngModel"></mat-slider>
            {{form.createCompany}}%
        </div>

        <div class="form-group">
            <label for="createBuyOffer">Chance for creating a buy offer:</label>
            <mat-slider style="width:50%;" name="createBuyOffer" min="0" max="100" step="1" [(ngModel)]="form.createBuyOffer" #createBuyOffer="ngModel"></mat-slider>
            {{form.createBuyOffer}}%
        </div>

        <div class="form-group">
            <label for="createSellOffer">Chance for creating a sell offer:</label>
            <mat-slider style="width:50%;" name="createSellOffer" min="0" max="100" step="1" [(ngModel)]="form.createSellOffer" #createSellOffer="ngModel"></mat-slider>
            {{form.createSellOffer}}%
        </div>

        <div class="form-group">
            <label for="deleteBuyOffer">Chance for deleting a buy offer:</label>
            <mat-slider style="width:50%;" name="deleteBuyOffer" min="0" max="100" step="1" [(ngModel)]="form.deleteBuyOffer" #deleteBuyOffer="ngModel"></mat-slider>
            {{form.deleteBuyOffer}}%
        </div>

        <div class="form-group">
            <label for="deleteSellOffer">Chance for deleting a sell offer:</label>
            <mat-slider style="width:50%;" name="deleteSellOffer" min="0" max="100" step="1" [(ngModel)]="form.deleteSellOffer" #deleteSellOffer="ngModel"></mat-slider>
            {{form.deleteSellOffer}}%
        </div>

        <div class="form-group">
            <label for="continueStockPlaying">Chance for continuing stock playing:</label>
            <mat-slider style="width:50%;" name="continueStockPlaying" min="0" max="100" step="1" [(ngModel)]="form.continueStockPlaying" #continueStockPlaying="ngModel"></mat-slider>
            {{form.continueStockPlaying}}%
        </div>

        <div class="form-group">
            <label for="logout">Chance for logout:</label>
            <mat-slider style="width:50%;" name="logout" min="0" max="100" step="1" [(ngModel)]="form.logout" #logout="ngModel"></mat-slider>
            {{form.logout}}%
        </div>

        <div class="form-group">
            <label for="dataCheck">Chance for checking data:</label>
            <mat-slider style="width:50%;" name="dataCheck" min="0" max="100" step="1" [(ngModel)]="form.dataCheck" #dataCheck="ngModel"></mat-slider>
            {{form.dataCheck}}%
        </div>

        <div class="form-group">
            <label for="checkBuyOffers">Chance for checking buy offers</label>
            <mat-slider style="width:50%;" name="checkBuyOffers" min="0" max="100" step="1" [(ngModel)]="form.checkBuyOffers" #checkBuyOffers="ngModel"></mat-slider>
            {{form.checkBuyOffers}}%
        </div>

        <div class="form-group">
            <label for="checkSellOffers">Chance for checking sell offers:</label>
            <mat-slider style="width:50%;" name="checkSellOffers" min="0" max="100" step="1" [(ngModel)]="form.checkSellOffers" #checkSellOffers="ngModel"></mat-slider>
            {{form.checkSellOffers}}%
        </div>

        <div class="form-group">
            <label for="checkUserData">Chance for checking user's data:</label>
            <mat-slider style="width:50%;" name="checkUserData" min="0" max="100" step="1" [(ngModel)]="form.checkUserData" #checkUserData="ngModel"></mat-slider>
            {{form.checkUserData}}%
        </div>

    <button (click)="runTests()">Run Tests</button>

    </form>
    

</div>